Build
build

xcode/CMakeFiles
xcode/CMakeCache.txt
xcode/cmake_install.cmake
xcode/CMakeScripts
xcode/Debug
xcode/Release
xcode/RelWithDebInfo
xcode/Paladin.build
xcode/third
Paladin/res/model
Paladin/Paladin/build
Paladin/cmake-build-debug
Paladin/.idea
xcuserdata