Build
build

xcode/CMakeFiles
xcode/CMakeCache.txt
xcode/cmake_install.cmake
xcode/CMakeScripts
xcode/Debug
xcode/Release
xcode/RelWithDebInfo
xcode/Paladin.build
xcode/third
Paladin/res/model
Paladin/Paladin/build
Paladin/cmake-build-debug
Paladin/.idea
xcuserdata

build
dev

dev/CMakeFiles
dev/bvh
dev/builders
dev/CMakeCache.txt
dev/cmake_install.cmake
dev/CMakeScripts
dev/Debug
dev/Release
dev/RelWithDebInfo
dev/Paladin.build
dev/third