Build
build

xcode/CMakeFiles
xcode/CMakeCache.txt
xcode/cmake_install.cmake
xcode/CMakeScripts
xcode/Debug
xcode/Release
xcode/RelWithDebInfo
xcode/Paladin.build
xcode/third
Paladin/res/model
Paladin/Paladin/build
Paladin/cmake-build-debug
Paladin/.idea
xcuserdata

build
build__

buildpro/CMakeFiles
buildpro/bvh
buildpro/builders
buildpro/CMakeCache.txt
buildpro/cmake_install.cmake
buildpro/CMakeScripts
buildpro/Debug
buildpro/Release
buildpro/RelWithDebInfo
buildpro/Paladin.build
buildpro/third